#init
  p  Welcome to LondonBusStopFinder
  button.btn.btn-primary(type='button', data-action='map') Map
  a(href='http://twitter.com/share?url=http%3A%2F%2Fayxos.com/londonBusFinder&text=Google%20Maps%20London%20BusFinder%20using%20Backbone&via=iBro_13')
    i.fa.fa-twitter.fa-lg.tw
#controls
#map
