doctype html
html(lang='es')

  head
    meta(charset='utf-8')
    meta(name='description', content='APIRest_test')
    meta(name='keywords', content='API, rest, node, mongo, mongoose, html5, express')
    title= title
    link(rel='stylesheet', href='/css/style.css')
  body

    block content

  script(data-main="js/main.js", src="vendors/requirejs/require.js")
  //- script(data-main="js/main-built.js", src="vendors/requirejs/require.js")


  block scripts
