@import "../vendors/bootstrap-3/bootstrap.css"

body
  height 100%
  margin 0
  padding 0
  background: url('http://3.bp.blogspot.com/-7lYblpuOUGw/UMRebOwA6KI/AAAAAAAAEXs/GEYoLhS-Dpc/s1600/London-city-photos-black-and-white-052.jpg')
  background-size cover
  background-attachment fixed
  background-repeat no-repeat

#map_canvas
  height 100%

.overlay
  position fixed
  background rgba(255, 255, 255, 0.95)
  border 1px solid #aaa
  z-index 5

#search-area
  left 10%

#listing
  left 40px
  bottom 150px
  li
    list-style none
    border-bottom 1px solid #ccc
    padding 10px
    cursor pointer
    &:hover
      background #006
      color #fff

button
  background #006
  color #fff
  font-weight bold
  border 1px solid rgba(0, 0, 0, .85)
  font-size 14px
  padding 10px 15px
  outline none
  border-radius 4px
  cursor pointer

#init
  width: 100%;
  height: auto;
  margin: auto auto;
  text-align: center;
  margin-top: 200px;
  color: white;
  font-weight: 600;
  a
    display block
    margin-top 10%

#alerts
  width: 30%;
  margin-top: 2%;
  margin-left: 35%;
  position: fixed;
  z-index: 1;
