.modal-dialog
  .modal-content
    .modal-header
      button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
      h4.modal-title Modal title
    .modal-body
      #modal_content
    .modal-footer
      a.btn(data-action='closeModal') Close
      a.btn.btn-primary(href='#') Save changes